<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title> Hospital Cancer Patient Data</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!--<link href= "../static/css/mainPage.css" />-->
</head>
<body>

<div class = "topTitle">
    <h1 id = "title"> Hospital Cancer Patient Data </h1>
</div>

<div class = "button" id="Radiotherapy">
    <button type="button" onclick="showFunction()"> Radiotherapy Patients</button>
</div>

<div class = "button" >
    <button type="button" id="Chemotherapy"> Chemotherapy Patients</button>
</div>

<p id="demo">Hello there</p>

<script type="text/javascript" src="../js/getData.js"> </script>

<script>
    function showFunction() {
        document.getElementById("demo").innerHTML = "Hello JavaScript!";}
</script>

</body>
</html>