<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title> Hospital Cancer Patient Data</title>
    <!--<link href= "../static/css/mainPage.css" />-->
</head>

<body>

<div class = "topTitle">
    <h1 id = "title"> Hospital Cancer Patient Data </h1>
</div>

<div class = "button" id="Radiotherapy">
    <button type="button" onclick="showFunction()"> Radiotherapy Patient</button>
</div>

<p id="demo"></p>
<script src="jquery.js"></script>
<script src="d3.v3.js"></script>

<script>
    $(function()    {
        showFunction();
    });

    function showFunction() {
        var numbers = [5, 4, 10, 1],
                data = [
                    {date: '2014-01-01', amount: 10},
                    {date: '2014-02-01', amount: 20},
                    {date: '2014-03-01', amount: 40},
                    {date: '2014-04-01', amount: 80}
                ];
    }
/*

    }
</script>

</body>
</html>